<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>


<button onclick="loginBpm()">登录bpm</button>
<button onclick="doLogin()">登录bi</button>
<script>
    function loginBpm() {
        $.ajax({
            type: "GET",
            url: "/queryBpm",
            dataType: "json",
            success: function (res) {
                document.cookie=res.cookName+"="+res.cookVal;
                window.open(res.url);
            }
        });
    }
</script>

</body>
</html>